* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {

    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --white: #fff;
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    /* --dark-gray: hsl(0, 0%, 48%); */
}

@font-face {
    font-family: CB;
    src: url(../fonts/static/Commissioner-Bold.ttf);
}

@font-face {
    font-family: CR;
    src: url(../fonts/static/Commissioner-Regular.ttf);
}

@font-face {
    font-family: CL;
    src: url(../fonts/static/Commissioner-Light.ttf);
}

body {
    font-family: CR;
    font-size: 16px;
    background: var(--white)
}

.header-sect {
    background: url(../images/image-hero-mobile.jpg)no-repeat;
    min-width: 300px;
    height: 300px;
    background-size: cover;
}

.container {
    --max-width: 1110px;
    --hr-padding: 1.5rem;
    width: min(var(--max-width), 100% - (var(--hr-padding)*2));
    margin-inline: auto;
    min-width: 300px;
}

header {
    display: flex;
    padding-top: 2em;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    flex-flow: column;
    list-style: none;
}

.link {
    text-transform: capitalize;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--black);
}


/* the main container */
.main-container {
    --max-width: 730px;
    --hr-padding: 1.5rem;
    width: min(var(--max-width), 100%);
    margin-inline: auto;
    margin-bottom: 76px;
}

.article-card {
    width: 100%;
    padding: 2.5rem 1.375rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 1em;
}

.article-one {
    padding-top: 0;
    margin-top: -5em;
    text-align: center;
}

.mastercraft-logo {
    display: flex;
    justify-content: center;
    transform: translateY(-28px);
}

.hero-text {
    font-family: CB;
    font-size: 1.25rem;
}

.mastercraft-description {
    margin-top: 1rem;
}

.text-clr {
    color: var(--dark-gray);
}

.default-button-design {
    background-color: var(--moderate-cyan);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-500);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.default-button-design:hover,
.default-button-design:active {
    background-color: var(--dark-cyan);
}

.cta-sec {
    display: flex;
    flex: content;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.cta-btn {
    width: 204px;
    height: 56px;
    margin-right: 1rem;
}

@media(max-width:352px) {
    .cta-btn {
        padding: 2em;
        width: 100%;
        height: 46px;
    }
}

.cta-btn:disabled {
    opacity: 0.5;
}

.bookmark-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 1.875rem;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;
}

.bookmark-btn:hover,
.bookmark-btn:active {
    opacity: 0.7;
}

.bookmark-btn img {
    width: 56px;
    height: 56px;
}

.bookmark-text {
    display: none;
}

@media (min-width:50em) {
    .header-sect {
        height: 400px;
        background: url(../images/image-hero-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .nav-list {
        flex-flow: row;
        gap: 1em;
    }

    .link {
        font-family: CB;
        color: var(--white);
    }

    .hero-text {
        font-size: 1.75rem;
    }


    .bookmark-text {
        display: inline;
        margin: 0 1.35rem 0 1rem;
        font-weight: var(--fw-700);
    }
}

/*
        width: 158px;
        height: 48px;
        
        */